/* CSS Document */
*,html {margin:0; padding:0; outline:none; font-family:"Myriad Pro", Arial, Verdana; font-size:12px; color:#221e1f; }
body   {margin:0; padding:0;}
img    { border:none;}
a      { text-decoration:none;  cursor:pointer;}
a:hover{ text-decoration:none;}
p  { }
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
fieldset{ border:none;}
ul,li,ol{ list-style:none;}
.clear{ clear:both;}
a img{ border:0;}
p.jus{ text-align:justify;}
/*********General******/
#brgBody{}
#brgWrapper{background:url(../images/brgBody.jpg) no-repeat; background-position:center top; padding-top:20px;}
#wrapper{ width:1000px; margin:0px auto 0px auto;}
#head{ height:146px; position:relative;}
#content{  padding:0px 25px 10px 25px; background:#fefefe url(../images/bgrContent.jpg) repeat-x;}
#content.contentFull{ padding:0px 0px 10px 0px;}
#footer{ height:25px; background:#e5eaed; margin-top:10px;}
#footer p{ line-height:25px; padding:0px 10px 0px 10px; color:#7e8083;}
#footer p a{ color:#7e8083;}

a.linkbig{ width:58px; height:58px; line-height:58px;}
a.linklittle{ width:28px; height:28px; line-height:28px;}
a.link86{ width:86px; height:60px; padding-top:26px;}
	a.orange{ background:#ff6600; color:#FFF; text-align:center; display:block;}
	a.blue  { background:#1a6fb1; color:#FFF; text-align:center; display:block;}
	a.blue2{ background:#205ca2; color:#FFF; display:block; text-align:center;}
	a.blue3{ background:#007ebf; color:#FFF; display:block; text-align:center;}
	a.gris{ background:#333333; color:#FFF; display:block; text-align:center;}
	
p.pNarBullet { color:#ff6600;}
p.pBlueBullet{ color:#007ebf;}

/*tres cols layout*/
.colLeft{width:196px; float:left; margin-right:22px;}
.colCenter{width:355px; float:left; margin-right:22px;}
.colRigth{width:355px; float:left;}
/*equals cols*/
.colLeftCenterEqual     {width:292px; float:left; margin-right:37px;}
.colLeftCenterEqual.noMR{width:292px; float:left; margin-right:0px;}

/*2 cols left big*/
.colLeftBig{width:573px; float:left; margin-right:22px;}


.brgGray{ background:#e5e5e5;}
.imgPrincipal{ margin:27px 0px 39px 0px;}

/******head******/
/*logos*/
a#logo{width:443px; height:100px; background:url(../images/logo.png) no-repeat; display:block;}
a#schott{ width:109px; height:41px; background:url(../images/logoSchott.png) no-repeat; display:block; position:absolute; right:0px; top:60px;}
/*menu*/
ul.menuHeader{ position:absolute; top:0px; right:60px;}
ul.menuHeader li{ float:left;}
ul.menuHeader li a{ color:#221f1f; text-transform:uppercase; padding:0px 15px 0px 0px;}
/*redes*/
#redes{position:absolute;top:0px; right:0px;}
#redes a{width:17px; height:16px; float:left; display:block;}
a#btnFacebook{ background:url(../images/btnFacebook.jpg) no-repeat;}
a#btnTwitter{ background:url(../images/btnTwitter.jpg) no-repeat;}
/*search*/
#search{width:171px; height:22px; padding:2px; background:#205ca2; position:absolute; top:117px; right:0px;}
.mm{ position:relative;}
.fsearch{ height:20px; background:#c0d2e3; padding:1px;}
.isearch{ width:169px; height:20px; border:none; background:#efefef; float:left; padding-right:2px;}
.ssearch{width:20px; height:20px; border:none; background:#00c8ff url(../images/ssearch.png) no-repeat; cursor:pointer;
background-position:center center; float:left; position:absolute; z-index:999; right:2px; top:1px;}

/******Menus****/
.contentFull ul.menuPrincipal     { margin-left:25px; }
ul.menuPrincipal     { padding-bottom:0px; }
ul.menuPrincipal li         { float:left; text-align:center; background:#205ca2; height:18px; padding-top:4px; padding-bottom:2px; width:158px; }
ul.menuPrincipal li a       { line-height:24px; display:block; color:#FFF;}
ul.menuPrincipal li.active  {  background:#efefef; color:#f45904;}
ul.menuPrincipal li.active a{  background:#efefef; color:#f45904;}
#clearMenu{ height:8px; width:950px; clear:both;}

/*****HomeContent*****/
#slider{ position:absolute; top:0; left:0;}
#homeC   {width:950px; height:497px; background:url(../images/brgHome.jpg) no-repeat; margin:16px 0px 0px 0px; 
position:relative;}
.homeD   { width:338px; position:absolute; top:88px; left:585px; z-index:999;}
.homeD h1{ color:#FFF; font-size:30px; padding-bottom:20px;}
.homeD h4{ color:#FFF; font-size:21px; padding-bottom:40px;}
.homeD p { font-size:16px; padding-bottom:20px;}
.homeD a { float:left; margin-right:10px;}
.homeBottom{ margin-top:10px;}
.homeBottom h4{ font-size:18px;  padding:9px 0px 0px 15px;}
.homeBottom p{ padding:0px 0px 0px 15px;}
.homeBottom .brgGray { height:62px; position:relative;}
.homeBottom .brgGray a{ position:absolute; bottom:9px; right:9px;}
#fab     {width:950px; height:40px; background:url(../images/brgFabricantes.jpg) no-repeat; padding-top:22px; margin-top:8px;}
#fab a   { height:40px; display:block; float:left;}
a.fiamma { width:132px;}
a.ramses { width:221px;}
a.lepen  { width:110px;}
a.magna  { width:125px;}
a.nuke   { width:110px;}
a.tromen { width:129px;}
a.ulstrup{ width:122px;}

/*****Experiancias*****/
ul.subMenu{ width:950px; margin:0px 0px 0px 0px; display:block; height:24px; overflow:hidden;}
ul.subMenu li  { float:left; text-align:center;  background:#333333 url(../images/brgSubMenuDivisor.jpg) no-repeat; background-position:right; height:18px; padding-top:4px; padding-bottom:2px;}
ul.subMenu li a{ line-height:24px; display:block; color:#efefef; padding:0px 20px 0px 20px}
ul.subMenu li.exp1, { width:258px;}
ul.subMenu li.exp2, .exp3{ width:145px;}
ul.subMenu li.exp4{ width:228px;}
ul.subMenu li.exp5{ width:95px;}
.exp6{ width:144px;}
ul.subMenu li.exp6{ background-image:none;}
ul.subMenu li.active a{  color:#efefef;}
/*content experiencias*/
#experiencias{ padding:20px 0px 0px 0px;}
#experiencias h2{ color:#221e1f; font-size:20px; line-height:26px;}
#experiencias p{ color:#221e1f; font-size:15px; line-height:21px;}
/*equal cols*/
#experiencias .colLeftCenterEqual{ height:239px; padding:10px 0px 10px 0px;}
#experiencias .colLeftCenterEqual img{ margin:0px 0px 10px 0px;}
#experiencias .colLeftCenterEqual h3{ font-size:19px; line-height:24px;}
#experiencias .colLeftCenterEqual p{ font-size:14px; line-height:18px; }

/*CALEFACTORES*/
#calefactores{}
#calefactores .colRigth a.link86{ float:left; margin-right:3px;}
#calefactores .colRigth a.link86.gris{ float:left; margin-right:0px;}
#calefactores .colRigth p{ margin-top:18px;}
#calefactores .colLeft h1{ background:#333; color:#FFF; font-size:21px; padding:9px; margin-bottom:15px;}

/*Estufas*/
#estufas{}
#estufas .colRigth a.link86{ float:left; margin-right:3px;}
#estufas .colRigth a.link86.gris{ float:left; margin-right:0px;}
#estufas .colRigth p{ margin-top:18px;}
#estufas .colRigth p.pNarBullet{ padding:0px 0px 0px 12px; background:url(../images/brgBulletPNaranja.png) no-repeat; background-position:0px 5px; margin-left:-12px;}
#estufas .colRigth p.pBlueBullet{ padding:0px 0px 5px 12px; background:url(../images/brgBulletPBlue.png) no-repeat; background-position:0px 5px; margin-left:-12px;}
#estufas .colLeft h1{ background:#007ebf; color:#FFF; font-size:21px; padding:5px 9px 5px 9px; margin-bottom:3px;}
#estufas .colLeft p{ font-size:18px; padding:9px; }
.imgleft01{ margin-bottom:9px;}

/*pellet*/
#estufas_pellet{}
#estufas_pellet .colRigth a.link86{ float:left; margin-right:3px;}
#estufas_pellet .colRigth a.link86.gris{ float:left; margin-right:0px;}
#estufas_pellet .colRigth p{ margin-top:18px;}
#estufas_pellet .colLeft h1{ background:#ff6600; color:#FFF; font-size:21px; padding:5px 9px 20px 9px; margin-bottom:35px;}
#estufas_pellet .imgleft01{ margin-bottom:9px;}

/*hogares y chimeneas*/
#hogares_ch{}
#hogares_ch .colRigth a.link86{ float:left; margin-right:3px;}
#hogares_ch .colRigth a.link86.gris{ float:left; margin-right:0px;}
#hogares_ch .colRigth p{ margin-top:18px;}
#hogares_ch .colRigth h5{ margin-top:18px; font-size:16px;}
#hogares_ch .colLeft h1{ background:#205ca2;  color:#FFF; font-size:21px; padding:5px 9px 5px 9px; margin-bottom:5px; line-height:23px}
#hogares_ch .colLeft p{  font-size:21px;}
#hogares_ch .colLeft .imgleft01{ margin-bottom:4px;}

/*****Instalacion*****/
#instalacion{}
#instalacion .colRigth p{ font-size:14px; margin-top:18px;}
#instalacion .colRigth h1{ color:#666666; font-size:24px; margin-bottom:5px;}

/*****Limpieza*****/
#limpieza{}
#limpieza .colCenter p{ font-size:14px; margin-top:18px;}
#limpieza .colCenter h4{ font-size:14px; }
#limpieza .colRigth p{ font-size:14px; margin-bottom:18px;}
#limpieza .colRigth blockquote{ font-size:14px; }
#limpieza .colLeft h1{ color:#666666; font-size:24px; padding:5px 9px 20px 9px; margin-bottom:70px;}

/*****Paneles*****/
#pananeles{}
#pananeles .colCenter p{ font-size:14px; }
#pananeles .colCenter h4{ font-size:14px; }
#pananeles .colRigth p{ font-size:14px; margin-bottom:18px;}
#pananeles .colRigth blockquote{ font-size:14px; }
#pananeles .colLeft h1{ color:#666666; font-size:24px; padding:5px 9px 20px 9px; margin-bottom:90px;}

/*****Leña *****/
#lena{}
#lena .colCenter p{ font-size:14px; margin-bottom:18px; }
#lena .colCenter h4{ font-size:14px; }
#lena .colRigth p{ font-size:14px; margin-bottom:18px;}
#lena .colRigth blockquote{ font-size:14px; }
#lena .colLeft h1{ color:#666666; font-size:24px; padding:5px 0px 9px 0px; margin-bottom:5px;}

/*****Clima Perfecto*****/
#clima_perfecto{}
#clima_perfecto .colRigth p{ font-size:14px; margin-bottom:18px;}
#clima_perfecto .colRigth { font-size:14px; }
#clima_perfecto .colLeft h1{ color:#666666; font-size:24px; padding:7px; margin-bottom:0px;}

/******Preguntas Frecuentes******/
#preguntasF{ padding:10px 0px 30px 0px;}
#preguntasF h3{ font-size:18px;  padding:0px 0px 15px 0px;}
#preguntasF h4{ font-size:18px; color:#ff6600; padding:15px 0px 25px 0px;}
#preguntasF p{ font-size:14px;}

/******Novedades******/
#novedades{}
#novedades_l{ width:610px; float:left;}
#novedades_r{ width:340px; float:left;}

/*box de novedades*/
.boxNews{ border-bottom:#c0c0c0 solid 4px; width:573px; height:358px; position:relative; margin-bottom:10px;}
	.date{width:60px; height:68px; background:url(../images/brgDate.png) no-repeat; position:absolute; top:0px; left:0px;
		  color:#FFF;}
	.date .mes{ height:22px; text-align:center; line-height:22px;  color:#FFF; 
	font-family:Georgia, "Times New Roman", Times, serif;}
	.date .dia{ height:32px; text-align:center; line-height:32px;  color:#FFF; 
	font-family:Georgia, "Times New Roman", Times, serif; font-size:16px;}
	.boxNews img{ width:236px; height:259px; position:absolute; bottom:10px; left:0px;}
	.ndescr{ position:absolute; left:283px; top:135px; width:260px;}
	.ndescr b{ padding:0px 0px 10px 0px; color:#ff6600; font-style:none; font-size:18px;}
	.ndescr h4{ padding:10px 0px 10px 0px;  font-style:none; font-size:30px;}
	.ndescr p{ padding:0px 0px 10px 0px;  font-style:none; font-size:14px; line-height:28px;}
	.boxNews a.orange{ position:absolute; bottom:10px; left:283px; display:block;}

/*box lateral*/
#boxLateralNews     { padding:30px 10px 50px 10px; background:#FFF;}
#boxLateralNews h3  {  color:#221e1f; font-size:22px; padding:0px 0px 8px 0px; font-weight:normal;}
/*#boxLateralNews li a{  color:#221e1f; background:url(../images/brgLiNews.jpg) no-repeat; display:inline-block; background-position:left 8px; padding:4px 0px 4px 14px;}*/

/*******Comprar | Contacto | Gracias | Impornta *******/
#comprar{ width:1000px;}
#comprar .imgCentral{ }
#comprar h1{ padding:20px 25px 20px 25px; font-size:30px; }
#comprar p{ padding:0px 25px 20px 25px; font-size:18px;  }
#comprar h3{ padding:10px 25px 10px 25px; display:block; background:#7c7c7c; color:#dfdfdf; font-size:14px; font-weight:bold;  }
#comprar h4{ padding:10px 25px 10px 25px; display:block; color:#000; background:#dfdfdf; font-size:28px; font-weight:bold; }
#comprar h4 a{ display:block; line-height:67px; padding:0px 0px 0px 80px; background:url(../images/brgSobreMail.png) no-repeat; font-size:18px; }
.map{width:440px; height:710px; float:left; padding:25px 0px 0px 34px;}
.comprarLugares{ width:381px; float:left; padding:60px; 0px 0px 0px;}
.block_comp{ width:381px; height:82px; position:relative; border-bottom:dotted 1px #666;}
.block_comp img{ position:absolute; top:10px; left:0px;}
#comprar .block_comp p       {  position:absolute; top:15px; left:115px;color:#5f5a5a; font-size:14px;}
#comprar .block_comp p a     {   color:#5f5a5a; font-size:14px;}
#comprar .block_comp p strong{   font-size:16px;}

.formContacto{ padding:20px 20px 30px 20px; line-height:25px;}
.formLeft  { float:left; width:466px; padding:0px 16px 20px 0px;}
.formRight { float:left; width:466px; padding:0px 0px 20px 0px;}
.formFull  { float:left; width:948px; padding:0px 0px 20px 0px;}
/*inputs*/
.inputC{ width:100%; border:none; background:#e7e7e7; height:42px; padding:0px 5px 0px 5px;}
.inputM{ width:100%; border:none; background:#e7e7e7; height:88px; padding:5px 5px 5px 5px; resize:none;}
.inputS{ width:68px; height:68px; line-height:68px; border:none; background:#ff6600; text-align:center; color:#FFF; cursor:pointer; float:right;}
#result{ position:absolute; color:#F00; margin-left:300px; font-size:16px;  display:none;}

/*gracias*/
.gracias{ width:620px; margin:0px auto 0px auto; padding:30px 0px 0px 0x;}
.gracias h5{ font-size:18px; text-align:center;}
.gracias a{ display:inline-block; width:180px; height:180px; margin-top:60px;}
.gracias a.face{ background:url(../images/facebookGracias.png) no-repeat; margin-left:100px;}
.gracias a.twit{ background:url(../images/twitterGracias.png) no-repeat; margin-left:20px;}

/*impronta*/
.impronta{padding:20px 20px 30px 20px; line-height:25px; background:#FFF;}
#comprar .impronta h3{padding:5px 10px 5px 0px;  background:#FFF; color:#000;}
#comprar .impronta p{padding:5px 10px 5px 0px; font-size:12px; }
/*mapa sitio*/
.mapaSitio{padding:20px 20px 30px 20px; line-height:25px; background:#FFF; }
.mapaSitio a{font-size:1.5em;}
.mapaSitio ul ul { padding-left:40px;}
.mapaSitio ul ul a{ font-size:1.2em; color:#205ca2;}
.mapaSitio ul ul ul a{ font-size:1em; color:#f3722b;}

/*Lagales*/
.legales{padding:20px 20px 30px 20px; line-height:25px; background:#FFF;}
#comprar .legales h4{padding:20px 5px 5px 0px; font-size:22px; background:#FFF;}
#comprar .legales p{padding:5px 10px 5px 0px; font-size:12px; }
#comprar .legales ul li{padding:5px 5px 5px 25px; font-size:12px; background:url(../images/bullet.png) no-repeat; background-position:16px 15px;}


/*****TWITTERSTYLE******/
#tweets{
 background-color: #EEE;
 display:inline-block;
 padding:2px; margin-top:10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-box-shadow: 1px 1px 3px #555;
 -webkit-box-shadow: 1px 1px 3px #555;
 box-shadow: 1px 1px 3px #555;
}
.tweetItem {
 list-style:none;
 font-family:verdana;
 font-size:13px;
 padding:5px;
 height: 50px;
 width: 300px;
 margin-bottom: 10px;
}
.tweetimg {
 float:left; 
 background-color:#999;
 border:none;
 padding:3px;
 margin-right:5px;
}
.tweetItem a{
 color: #f90;
 text-decoration:none;
}
.tweetItem a:hover {
 color: #666;
 text-decoration: underline;
}
.tweetimg:hover{
 background-color: #f90;
}