/*****HomeContent*****/
#slider {
  position: relative;
  top: 0;
  left: 0;
}
#homeC {
  margin: 16px 0px 0px 0px;
  position: relative;
}
.homeD {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  h1 {
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 20px;
  }
  h4 {
    color: #ffffff;
    font-size: 21px;
    padding-bottom: 40px;
  }
  p {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 20px;
  }
  a {
    float: left;
    margin-right: 10px;
  }
  .homebanner-top-right {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 500px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
    @media (max-width: 1000px) {
      width: 80%;
      left: 10%;
    }
    img {
      max-width: 100%;
    }
  }
  .homebanner-bottom-left {
    position: absolute;
    left: 15px;
    bottom: 30px;
    z-index: 999;
    width: 400px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    @media (max-width: 1000px) {
      width: 100%;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
    }
    a.linkbig {
      border: solid 1px #fff;
    }
    p {
      font-size: 19px;
      padding-bottom: 0;
      @media (max-width: 1000px) {
        font-size: 13px;
      }
    }
  }
}

.homeBottom {
  margin-top: 10px;
  padding-bottom: 40px;
  .brgGray {
    width: 30%;
    background: #bbbdc0;
    @media (max-width: 1000px) {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }
  .colLeft,
  .colCenter {
    margin-right: 5%;
  }
}
.homeBottom h4 {
  font-size: 18px;
  padding: 9px 0px 0px 15px;
}
.homeBottom p {
  padding: 0px 0px 0px 15px;
  font-size: 12px;
}
.homeBottom .brgGray {
  height: 62px;
  position: relative;
}
.homeBottom .brgGray a {
  position: absolute;
  bottom: -20px;
  right: 9px;
  background: #ed1c24;
  border: solid 1px #fff;
}

// @media (max-width: 1000px) {
//   .slidermobile {
//     height: 574px;
//   }
// }
// @media (max-width: 800px) {
//   .slidermobile {
//     height: 374px;
//     img {
//       height: 374px;
//     }
//   }
// }

.slidermobile {
  width: 100%;
  overflow: hidden;
}
#sliderImages {
  max-width: none;
  overflow: hidden;
  /* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */
  animation: slide 16s infinite;
  -moz-animation: slide 16s infinite;
  -webkit-animation: slide 16s infinite;
  -o-animation: slide 16s infinite;
}
#sliderImages img {
  float: left;
}

@media (max-width: 1000px) {
  @width1: 1000px;
  #sliderImages {
    width: @width1*3 + 100;
    max-width: none;
  }
  #sliderImages img {
    width: @width1;
    float: left;
  }

  @keyframes slide {
    0% {
      margin-left: 0px;
    }
    17% {
      margin-left: 0px;
    }
    20% {
      margin-left: 0px;
    }
    33% {
      margin-left: 0px;
    }
    43% {
      margin-left: -@width1;
    }
    57% {
      margin-left: -@width1;
    }
    66% {
      margin-left: -@width1;
    }
    76% {
      margin-left: -@width1*2;
    }
    80% {
      margin-left: -@width1*2;
    }
    99% {
      margin-left: -@width1*2;
    }
    100% {
      margin-left: 0px;
    }
  }
}

@media (max-width: 800px) {
  @width1: 800px;
  #sliderImages {
    width: @width1*3 + 100;
    max-width: none;
  }
  #sliderImages img {
    width: @width1;
    float: left;
  }

  @keyframes slide {
    0% {
      margin-left: 0px;
    }
    17% {
      margin-left: 0px;
    }
    20% {
      margin-left: 0px;
    }
    33% {
      margin-left: 0px;
    }
    43% {
      margin-left: -@width1;
    }
    57% {
      margin-left: -@width1;
    }
    66% {
      margin-left: -@width1;
    }
    76% {
      margin-left: -@width1*2;
    }
    80% {
      margin-left: -@width1*2;
    }
    99% {
      margin-left: -@width1*2;
    }
    100% {
      margin-left: 0px;
    }
  }
}

@media (max-width: 700px) {
  @width1: 700px;
  #sliderImages {
    width: @width1*3 + 100;
    max-width: none;
  }
  #sliderImages img {
    width: @width1;
    float: left;
  }

  @keyframes slide {
    0% {
      margin-left: 0px;
    }
    17% {
      margin-left: 0px;
    }
    20% {
      margin-left: 0px;
    }
    33% {
      margin-left: 0px;
    }
    43% {
      margin-left: -@width1;
    }
    57% {
      margin-left: -@width1;
    }
    66% {
      margin-left: -@width1;
    }
    76% {
      margin-left: -@width1*2;
    }
    80% {
      margin-left: -@width1*2;
    }
    99% {
      margin-left: -@width1*2;
    }
    100% {
      margin-left: 0px;
    }
  }
}

@media (max-width: 600px) {
  @width1: 600px;
  #sliderImages {
    width: @width1*3 + 100;
    max-width: none;
  }
  #sliderImages img {
    width: @width1;
    float: left;
  }

  @keyframes slide {
    0% {
      margin-left: 0px;
    }
    17% {
      margin-left: 0px;
    }
    20% {
      margin-left: 0px;
    }
    33% {
      margin-left: 0px;
    }
    43% {
      margin-left: -@width1;
    }
    57% {
      margin-left: -@width1;
    }
    66% {
      margin-left: -@width1;
    }
    76% {
      margin-left: -@width1*2;
    }
    80% {
      margin-left: -@width1*2;
    }
    99% {
      margin-left: -@width1*2;
    }
    100% {
      margin-left: 0px;
    }
  }
}
@media (max-width: 500px) {
  @width1: 500px;
  #sliderImages {
    width: @width1*3 + 100;
    max-width: none;
  }
  #sliderImages img {
    width: @width1;
    float: left;
  }

  @keyframes slide {
    0% {
      margin-left: 0px;
    }
    17% {
      margin-left: 0px;
    }
    20% {
      margin-left: 0px;
    }
    33% {
      margin-left: 0px;
    }
    43% {
      margin-left: -@width1;
    }
    57% {
      margin-left: -@width1;
    }
    66% {
      margin-left: -@width1;
    }
    76% {
      margin-left: -@width1*2;
    }
    80% {
      margin-left: -@width1*2;
    }
    99% {
      margin-left: -@width1*2;
    }
    100% {
      margin-left: 0px;
    }
  }
}
